<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teliov.com.unilagnews" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_list_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.UnilagNewsProvider"
            android:authorities="teliov.com.unilagnews" />

        <service android:name=".services.UnilagNewsService"/>


        <activity
            android:name=".NewsDetail"
            android:label="@string/title_activity_news_detail"
            android:parentActivityName=".NewsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="teliov.com.unilagnews.NewsList" />
        </activity>
    </application>

</manifest>
